.category-archive {
  .category-archive__header {
    margin: var(--category-archive-header-margin, rem(35px) 0 2rem);
    // border-top: var(
    //   --category-archive-header-border-top,
    //   rem(1px) solid var(--borders-color)
    // );
    // border-bottom: var(
    //   --category-archive-header-border-bottom,
    //   rem(1px) solid var(--borders-color)
    // );

    .category-archive__title {
      --bordered-title-font-size: #{fluid(14px, 26px)};

      //   padding: var(--category-archive-title-padding, rem(21px) 0);
      //   text-align: var(--category-archive-title-text-align, center);
      //   font-family: var(
      //     --category-archive-title-font-family,
      //     var(--section-title-font-family)
      //   );
      //   font-weight: var(
      //     --category-archive-title-font-weight,
      //     var(--section-title-font-weight)
      //   );
      //   color: var(--category-archive-title-color, var(--section-title-color));
      //   font-size: var(
      //     --category-archive-title-font-size,
      //     var(--section-title-font-size)
      //   );
      //   text-transform: var(--category-archive-title-text-transform, uppercase);
    }

    .category-archive__meta {
      font-size: fluid(16px, 18px);
      text-align: center;
      margin: 0 auto;
      @include media-breakpoint-up(lg) {
        max-width: 60%;
      }
    }
  }

  .category-archive__items {
    --archive-grid-cols: 2;
    --archive-grid-gap: 2rem;

    @include media-breakpoint-up(lg) {
      --archive-grid-cols: 6;
    }

    .category-archive__sidebar {
      grid-column: span 2;
      grid-row: 9 / span 8;
      @include media-breakpoint-up(lg) {
        grid-column: 4 / span 3;
        grid-row: 1 / span 8;
      }
    }

    > .article-item {
      grid-column: span 2;

      .article-item__thumbnail {
        aspect-ratio: 1/1;
      }

      &:nth-of-type(1) {
        // @extend .article-item-tres;
        grid-column: span 2;
        grid-row: 1 / span 4;
        @include media-breakpoint-up(lg) {
          grid-column: span 3;
        }

        .article-item__thumbnail {
          aspect-ratio: 3/4;
        }
      }

      &:nth-of-type(2) {
        // @extend .article-item-tres;

        grid-column: 1 / span 2;
        grid-row: 5 / span 4;

        @include media-breakpoint-up(lg) {
          grid-column: 1 / span 3;
        }

        .article-item__thumbnail {
          aspect-ratio: 3/4;
        }
      }
      // &:nth-of-type(3) {
      //   grid-column: 4 / span 3;
      //   grid-row: 1 / span 2;
      // }
      // &:nth-of-type(4) {
      //   grid-column: 4 / span 3;
      //   grid-row: 3 / span 6;
      // }
      &:nth-of-type(3) {
        grid-column: span 2;
        grid-row: 17 / span 2;

        @include media-breakpoint-up(lg) {
          grid-column: span 3;
          grid-row: 10 / span 2;
          padding: 0 2rem;
        }
      }
      &:nth-of-type(4) {
        grid-column: span 2;
        grid-row: 19 / span 2;

        @include media-breakpoint-up(lg) {
          grid-column: span 3;
          grid-row: 10 / span 2;
          padding: 0 2rem;
        }
      }

      //   &:nth-of-type(3),
      //   &:nth-of-type(4) {
      //     grid-column: span 2;

      //     @include media-breakpoint-up(lg) {
      //       grid-column: span 3;
      //       grid-row: 10 / span 2;
      //     }
      //   }
      // &:nth-of-type(5),
      // &:nth-of-type(6) {
      //   grid-column: span 3;
      //   grid-row: 10 / span 2;
      // }
    }

    .category-widget-area {
    }

    .wa_dynamic_widget {
      --widget-padding: 0;
    }
    .wa_our_maps_widget {
      --widget-padding: 0;
      border-bottom: rem(1px) solid var(--borders-color);
      .wa_our_maps_widget__items {
        padding-left: rem(20px);
        @include media-breakpoint-up(lg) {
          padding-left: rem(40px);
        }
      }
    }
  }
}
