#footer {
  background-color: var(--footer-background);
  margin-top: var(--footer-margin-top, 0);
  color: var(--footer-color);
}

.footer-container {
  // @include media-breakpoint-up(lg) {
  //   display: grid;
  //   grid-template-columns: repeat(9, 1fr);
  //   grid-template-rows: auto; //1fr 1fr 0.5fr 1fr;
  //   grid-gap: 1rem;
  // }

  .footer__credits {
    color: #fff;
    p {
      font-size: fluid(9px, 13px);
      font-weight: 400;
    }
  }
}
