.hamburger-menu {
  //--background-menu: url('../images/fondo-bushmills.jpg');
  background: var(--hamburger-menu-background, #000);
  color: var(--hamburger-menu-color, #efeeec);
  border: 0;

  &.offcanvas {
    --bs-offcanvas-width: 100%;
    @include media-breakpoint-up(md) {
      --bs-offcanvas-width: 50%;
    }
  }

  .offcanvas-header {
    --bs-offcanvas-padding-y: 1.5rem;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
    }
  }

  .hamburguer-menu__logo {
    width: 100%;
    height: auto;
    max-width: rem(224px);
    transform: translateY(5px);
    order: 2;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
      order: unset;
      margin-left: 2rem;
      margin-right: 0;
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: rem(355px);
    }
  }

  .close-hamburger {
    --hamburger-menu-close-icon: transparent
      url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="45" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path d="M14 14L34 34" stroke="%23fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 34L34 14" stroke="%23fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>')
      50%/1em auto no-repeat;
    background: var(--hamburger-menu-close-icon);
    margin: 0;
    font-size: 3rem;
    opacity: 0.7;
    padding: 0;

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }
  .navbar {
    @include media-breakpoint-up(lg) {
      --bs-navbar-padding-x: 5rem;
    }
  }
  .menu-hamburger__main-items {
    .navbar-nav {
      // max-width: 80%;
      // margin: 0 auto;
      align-items: center;
      @include media-breakpoint-up(lg) {
        align-items: flex-start;
      }
    }
    .nav-item {
      width: 100%;
    }
    .menu-item + .menu-item {
      margin-top: 0.5rem;
    }
    .nav-link {
      display: inline-block;
      color: #fff;
      // opacity: 0.18;
      transition: all 1s;
      font-family: var(--font-family-secondary);
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;
      font-size: var(--menu-hamburger-font-size, #{fluid(15px, 24px)});
      &:hover,
      &.active {
        // opacity: 1;
      }
    }

    .dropdown-menu {
      animation: slideDown 0.3s ease-in-out forwards;
      transform-origin: top;
      display: none;
      width: 100%;
      --bs-dropdown-color: #fff;
      --bs-dropdown-bg: #000;
      --bs-dropdown-border-radius: 0;
      --bs-dropdown-border-width: 0;
      --bs-dropdown-link-color: #fff;
      --bs-dropdown-link-hover-color: #000;
      --bs-dropdown-link-hover-bg: #fff;
      --bs-dropdown-link-active-color: #fff;
      --bs-dropdown-link-active-bg: #000;

      &.show {
        display: block;
      }
      .dropdown-item {
        font-family: var(--font-family-secondary);
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--menu-hamburger-font-size, #{fluid(15px, 24px)});
      }
    }
  }

  .hamburger-menu__heading {
    color: var(--hamburger-menu-color, #efeeec);
    font-family: var(--font-family-secondary);
    font-size: fluid(13px, 26px);
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .hamburger-menu__social {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
    .wa-social-profiles {
      --social-icons-justify-content: center;
      --social-icons-gap: 2rem;
      --social-icons-font-size: 1.5rem;
      @include media-breakpoint-up(lg) {
        --social-icons-justify-content: flex-start;
      }
    }
  }
}

.overlay-background {
  display: none;
  position: fixed;
  left: 0;
  top: var(--wrapper-margin-top, 0);
  width: 100%;
  height: 100%;
  background-color: var(--bs-secondary);
  opacity: 0.74;
  z-index: 100;
  &.show {
    display: block;
  }
}
.loading-spinner {
  position: fixed;
  left: 1%;
  bottom: 1%;
  display: none;
  align-items: center;
  gap: 0.5rem;
  z-index: 1025;
  &.show {
    display: flex;
  }
  span {
    font-size: rem(9px);
  }
}
.spinner-animation {
  border: rem(4px) solid rgba(0, 0, 0, 0.1);
  width: rem(36px);
  height: rem(36px);
  border-radius: 50%;
  border-left-color: var(--bs-secondary);

  animation: myspin 1s ease infinite;
}

@keyframes myspin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
