.scrolling-wrapper {
  overflow-x: auto;
  scroll-behavior: smooth;

  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  // overscroll-behavior: contain;
  scrollbar-width: none;
  /*touch-action: pan-x;*/
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  /*scroll-snap-type: x mandatory;*/

  /* stop scrolling before reaching edge */
  /*scroll-padding-left: 20px;
  scroll-padding-inline-start: 20px;*/
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .scrolling-wrapper__item {
    width: auto;
    margin: 0 0.4rem;
    flex-shrink: 0;

    /* scroll snapping */
    scroll-snap-align: start;

    /* maybe this will work in the future 🤷‍♂️ */
    scroll-snap-stop: always;

    @include media-breakpoint-up(lg) {
      margin: 0 1rem;
    }
    &:last-child {
      position: relative;
    }
    &:last-child::after {
      position: absolute;
      left: 100%;
      height: 1px;
      width: 20px;
      display: block;
      content: '';
    }
  }
  .scrolling-wrapper__item-article {
    @extend .scrolling-wrapper__item;
    width: 75%;
    @include media-breakpoint-down(xs) {
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      width: calc((100% - 2rem) / 3);
      margin: 0 0.5rem;
    }
  }

  .scrolling-wrapper__item-latest {
    @extend .scrolling-wrapper__item;
    width: calc((100% - 2rem) / 2);
    @include media-breakpoint-down(xs) {
      width: 85%;
    }
    @include media-breakpoint-up(lg) {
      width: calc((100% - 2rem) / 4);
      margin: 0 0.5rem;
    }
  }
}

.wa-instagram-grid {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .scrolling-wrapper__item {
    @extend .scrolling-wrapper__item;
    width: 75%;
    @include media-breakpoint-down(xs) {
      width: 45%;
    }
    @include media-breakpoint-up(lg) {
      width: calc((100% - 5rem) / 5);
      margin: 0 0.5rem;
    }

    .scrolling-wrapper__thumbnail {
      width: 100%;
      overflow: hidden;
      padding-bottom: 100%;
      position: relative;
      width: 100%;
      img,
      video {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.scroll-control {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: rem(34px);
  height: rem(61px);
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  &.scroll-control-prev {
    right: calc(15px * 4);
    top: 0;
    bottom: 0;
  }
  &.scroll-control-next {
    right: rem(15px);
  }
  &:hover {
    opacity: 1;
  }
  .scroll-control__arrow {
    display: inline-block;
    width: rem(34px);
    height: rem(26px);
    background-repeat: no-repeat;
    &.right {
      background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.8 18.39'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:#{$primary};stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow-black%3C/title%3E%3Cpolyline class='cls-1' points='12.69 0.36 22.07 9.19 12.69 18.02'/%3E%3Cline class='cls-1' y1='9.06' x2='21.79' y2='9.06'/%3E%3C/svg%3E");
    }
    &.left {
      background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.8 18.39'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:#{$primary};stroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eleft-arrow-black%3C/title%3E%3Cpolyline class='cls-1' points='10.11 18.02 0.73 9.19 10.11 0.36'/%3E%3Cline class='cls-1' x1='22.8' y1='9.32' x2='1.01' y2='9.32'/%3E%3C/svg%3E");
    }
  }
}
.scrollling-wrapper__indicators {
  li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: relative;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba($primary, 0.5);
    cursor: pointer;
    &.active {
      background-color: rgba($primary, 1);
    }
  }

  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: '';
  }
  &::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: '';
  }
}
.scroll {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  /*overscroll-behavior: contain;*/
  scrollbar-width: none;
  /*touch-action: pan-x;*/
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  /*scroll-snap-type: x mandatory;*/

  /* stop scrolling before reaching edge */
  /*scroll-padding-left: 20px;
  scroll-padding-inline-start: 20px;*/
}

.scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
