.section {
  padding: var(--section-padding, 2rem 0);
  margin: var(--section-margin, 0);
  background: var(--section-background, unset);
  color: var(--section-color, var(--bs-body-color));

  @include media-breakpoint-up(lg) {
    padding: var(--section-padding-lg, var(--section-padding, 2rem 0));
  }
  .section__title-container {
    &.section__title-bordered-inline {
      --section-title-font-size: #{fluid(14px, 20px)};
      text-align: center;
      .bordered-title {
        display: inline-block;
      }
    }
  }

  .section__title {
    margin: var(--section-title-margin, 0 0 2rem 0);
    font-size: var(
      --section-title-font-size,
      clamp(1.25rem, 1.9vw + 0.9rem, 2.75rem)
    );
    text-align: var(--section-title-text-align, center);
    font-family: var(--section-title-font-family, var(--headings-font-family));
    font-weight: var(--section-title-font-weight, var(--headings-font-weight));
    color: var(--section-title-color);
    --bs-link-color: var(--section-title-color);
    a {
      color: var(--section-title-color);
    }

    &.with-middle-line {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      text-transform: uppercase;
      &::after {
        content: '';
        border-top: rem(1px) solid
          var(--section-title-line-color, var(--section-title-color));
        margin: 0 0px 0 rem(32px);
        flex: 1 0 rem(32px);
      }
    }
  }

  &.full-width {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-top: calc(var(--bs-gutter-y) * -1);
  }
  .show-more {
    text-align: center;
    .show-more__btn {
      --bs-btn-color: #000;
      --bs-btn-bg: transparent;
      --bs-btn-border-color: transparent;
      --bs-btn-hover-color: #000;
      --bs-btn-hover-bg: transparent;
      --bs-btn-hover-border-color: transparent;
      --bs-btn-active-color: unset;
      --bs-btn-active-bg: unset;
      --bs-btn-active-border-color: unset;
      --bs-btn-active-shadow: unset;
      --bs-btn-font-size: #{fluid(14px, 23px)};
      text-decoration: underline;
    }
  }

  &.section-dark {
    --section-background: var(--bs-secondary);
    --section-color: #f0efed;
    --borders-color: #efeeec;
    --section-title-color: #efeeec;
    --section-title-font-size: #{fluid(14px, 20px)};
    --bs-link-color: #efeeec;
  }
}

.section-cant-miss {
  .grid-container-items--with-featured {
    article {
      @include media-breakpoint-up(md) {
        &:last-child {
          display: none;
        }
      }
    }
  }
}
