.image-stack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em 1em;

  .image-stack__two {
    grid-area: 2 / 2 / 4 / 4;
  }

  .image-stack__one {
    grid-area: 1 / 1 / 3 / 3;
    z-index: 1;
  }
}

.menu-display {
  .menu-display__title {
    --color-headings: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: rem(36px);
  }

  .menu-display__destileria-txt {
    padding-right: 4rem;
  }

  .menu-display__donde-comprar {
    min-height: rem(260px);

    .btn {
      --bs-btn-font-size: clamp(0.8625rem, 1.1vw + 0.3rem, 1.0625rem);
    }
  }
}
