.video-archive {
  .video-archive__items {
    --archive-grid-cols: 6;

    .archive-item {
      grid-column: span 6;

      --article-item-title-font-size: #{fluid(12px, 20px)};

      @include media-breakpoint-up(lg) {
        grid-column: span 3;
      }

      .article-item__title {
        text-align: center;
      }
      &:nth-of-type(1) {
        @extend .article-item-cuatro;
        --article-item-title-font-size: #{fluid(12px, 28px)};
        grid-column: span 6;
        .article-item__title-container {
          max-width: 80%;
          margin: 0 auto;
          @include media-breakpoint-up(lg) {
            max-width: 60%;
          }
        }

        .article-item__thumbnail {
          @include media-breakpoint-up(lg) {
            aspect-ratio: 16/9;
          }
        }
      }
    }
    .video-archive__navbar {
      grid-column: 1/-1;
      .navbar-nav {
        width: 100%;
        flex-direction: row;
        gap: 0 1rem;
        justify-content: flex-start;
        flex-wrap: wrap;
        .nav-link {
          border: 1px solid #191a1c;
          --bs-nav-link-padding-x: 2rem;
          --bs-nav-link-padding-y: 0.5rem;
          --bs-nav-link-font-size: #{fluid(7px, 14px)};
          --bs-nav-link-hover-color: #f0efed;
          --bs-navbar-active-color: #f0efed;
          text-transform: uppercase;
          &:hover,
          &.active {
            background-color: var(--bs-secondary);
          }
        }
      }
    }
  }
}
